body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 500px;
}